.content__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 208px);
}
  
@media screen and (max-width: 424px) {
  .content__wrapper {
    width: calc(100% - 32px);
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .content__wrapper {
    width: calc(100% - 80px);
  }
}