.search__input {
  height: 64px;
  padding: 0;
  padding-left: 24px;
  border-radius: 32px;
  box-sizing: border-box;
  color: #b6bcbf;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375;
}

@media screen and (max-width: 320px) {
  .search__input {
    max-width: calc(100vw - 32px);
    margin-bottom: 4%;
    height: 56px;
  }
}

@media screen and (min-width: 321px) and (max-width: 575px) {
  .search__input {
    margin-bottom: 8%;
    height: 56px;
  }
}

@media screen and (min-width:576px) and (max-width: 720px) {
  .search__input {
    height: 48px;
  }
}

@media screen and (min-width:721px) and (max-width: 1124px) {
  .search__input {
    height: 56px;
  }
}

.search__input:hover, .search__input:focus, .search__input:active {
  color: #1a1b22;
}
