@import url('./__cardlist/results__cardlist.css');
@import url('./__button/results__button.css');
@import url('./__header/results__header.css');
@import url('./__error/results__error.css');
@import url('./_active/results_active.css');

.results {
  display: none;
  background-color: #f5f6f7;
  padding-bottom: 80px;
  padding-top: 80px;
}

@media screen and (max-width:575px) {
  .results {
    padding-top: 32px;
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .results {
    padding-top: 32px;
    padding-bottom: 44px;
  }
}