@import url('./__day/analytics__day.css');
@import url('./__header-item/analytics__header-item.css');
@import url('./__range/analytics__range.css');
@import url('./__scale-item/analytics__scale-item.css');
@import url('./__scale/analytics__scale.css');
@import url('./__wrapper/analytics__wrapper.css');
@import url('./__day-wrapper/analytics__day-wrapper.css');
@import url('./__range-wrapper/analytics__range-wrapper.css');

.analytics {
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: #f5f6f7;
}

@media screen and (max-width: 575px) {
  .analytics {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .analytics {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}