.author__photo {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-image: url('../../../images/author.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}