@import url('./__column/authot__column.css');
@import url('./__image-wrapper/author__image-wrapper.css');
@import url('./__photo/author__photo.css');
@import url('./__nav/author__nav.css');
@import url('./__nav-item/author__nav-item.css');
@import url('./__link/author__link.css');

.author {
  display: flex;
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 575px) {
  .author {
    flex-wrap: wrap;
  }
}