.search__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 168px;
  color: #fff;
  background-color: #2f71e5;
}

@media screen and (max-width: 320px) {
  .search__button {
    width: 100%;
    position: static;
  }
}

@media screen and (min-width: 321px) and (max-width: 575px) {
  .search__button {
    width: 100%;
    position: static;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .search__button {
    width: 160px;
  }
}

.search__button:hover, .search__button:focus {
  background-color: #347eff;
}

.search__button:active {
  background-color: #2a65cc;
}