.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 168px;
  height: 64px;
  border-radius: 32px;
  background-color: #2f71e5;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 1.375;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 575px) {
  .search__button {
    width: 100%;
    position: static;
    margin-bottom: 16px;
    height: 56px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .search__button {
    height: 56px;
  }
}

.search__button::after {
  content: 'Искать';
  color: #fff;
}