@import url('./__button/search__button.css');
@import url('./__explanation-text/search__explanation-text.css');
@import url('./__input/search__input.css');
@import url('./__title/search__title.css');
@import url('./__picture/search__picture.css');
@import url('./__image/search__image.css');
@import url('./__wrapper/search__wrapper.css');
@import url('./__field/search__field.css');

.search {
  position: relative;
  color: #fff;
  max-width: 1440px;
}


