.card_section_github {
  padding: 24px;
  width: 28%;
  height: 280px;
  margin-right: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .card_section_github {
    padding: 16px;
    margin-right: 16px;
    width: calc(100vw - 32px);
  }
}

@media screen and (min-width: 426px) and (max-width: 575px) {
  .card_section_github {
    padding: 16px;
    margin-right: 16px;
    width: calc(100vw - 80px);
  }
}

@media screen and (min-width: 576px) and (max-width: 700px) {
  .card_section_github {
    min-height: 360px;
  }
}

@media screen and (min-width: 576px) and (max-width: 900px) {
  .card_section_github {
    width: 44%;
  }
}