@import url('./_section/content__paragraph_section_request-answer.css');

.content__paragraph {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.35;
  color: #1a1b22;
  margin-top: 0;
  margin-bottom: 0;
}

.content__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}