@import url('./_active/results__cardlist_active.css');

.results__cardlist {
  display: none;
  grid-template-columns: repeat(auto-fill, calc((100% - 32px)/3));
  grid-gap: 16px;
  margin-bottom: 64px;
}

@media screen and (max-width: 575px) {
  .results__cardlist {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 8px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 575px) and (max-width: 1024px) {
  .results__cardlist {
    grid-template-columns: repeat(auto-fill, calc((100% - 8px)/2));
    grid-gap: 8px;
    margin-bottom: 22px;
  }
}