.content__link_page_news-analyzer {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
}

@media screen and (max-width: 425px) {
  .content__link_page_news-analyzer {
    font-size: 1rem;
    line-height: 1.5;
  }
}