/* .search__picture {
  position: absolute;
  z-index: -1;
  display: block;
  line-height: 0;
  font-size: 0;
  box-sizing: border-box;
  vertical-align: bottom;
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
} */